.phone{
    width: 100%;
    margin: 1vw;

    input{
        padding: .8vw;
        width: 80%;
        border-radius: 10px;
    }

    button{
        padding: .8vw;
        background-color: #08fc3594;
        color: black;
        border-radius: 10px;
        margin: 1vw;
        font-weight: 600;
        // border: none;

        &:hover{
            color: #6e2e6a;
            background-color: white;

        }
    }

    #endCall{
        background-color: #fc08086d;

        &:hover{
            color: #6e2e6a;
            background-color: white;

        }
    }

}