.telecaller{
    width: 100%;
    padding: 1vw;


    &_table{
        width: 100%;
      
    }

    &_pagination {
        width: 100%;
        
        align-items: center;
        // margin: 1vw 0;
        padding: 0 1vw;
  
        .submit-button {
          display: flex;
          justify-content: center;
  
          button {
            border: none;
            background-color: #6e2e6a;
            cursor: pointer;
            font-size: 1vw;
            font-weight: 600;
            color: white;
            border-radius: 5px;
            padding: 0.7vw 1vw;
  
            &:hover {
              background-color: #8e3e7e;
            }
          }
        }
      }

    
}

.form-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;

  button{
    padding: 1.5vw;
  }

  TextField{
    width: 90%;
  }
}