.layout {
  width: 100%;

  &_header {
    width: 100%;
    height: 60px;
  }

  &_section {
    width: 100%;
    display: flex;

    &_sidenav {
      width: 15vw;
    }

    &_content {
      width: calc(100% - 15vw);
    //   padding: 14px
    }
  }
}
