.home {
    width: 100%;
    display: flex;
    padding: 1vw;
    

    &_left {
        width: 15%;
        height: 100%;
        // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        @media (max-width: 800px) {
          width: 5%;
        
      }
    }

    


   &_right {
    width: 85%;
    // height: 90vh;
    display: flex;
    justify-content: center;
    margin: 1vw;
    flex-direction: column;

    @media (max-width: 800px) {
      width: 95%;
      
  }

    &_cardCont{
        // font-size: 1vw;
        // padding: 1vw;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

     &_graphsCont{
      width: 100%;
      display:flex;
     
      &_left{
        width: 50%;
        background-color: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 1vw 0;
        border-radius: 10px;
        margin: 1vw 0 0 0;
      }

      &_right{
        width: 50%;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin: 1vw 0 0 1vw;
        background-color: white;
      }
       
    }

    &_graphCont{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


        &_left{
            width: 50%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 10px;
            display: flex;
            padding: 1vw 0; 
            border-radius: 10px;
            margin: 1vw 0 0 0;

        }

        &_right{
            width: 50%;
            border-radius: 10px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            margin: 1vw 0 0 1vw;
        }
        
    }
   }

}

.sidebar {
  width: 200px;
  transition: all 0.3s ease-in-out;
  
  &_closed {
      width: 0;
      overflow: hidden;
  }
}