.home-card{
    width: 23.5%;
    box-shadow: rgba(232, 205, 231, 0.544) 0px 48px 100px 0px;    background-color: rgba(254, 210, 252, 0.524);
    border-radius: 10px;
    padding: 10px;

    h1{
        font-size: 2vw;
    }

    h2{
        font-size: 2vw;
    }
}

