.home-card{
    width: 18%;
    box-shadow: rgba(232, 205, 231, 0.544) 0px 48px 100px 0px;    background-color: rgba(254, 210, 252, 0.524);
    border-radius: 10px;
    padding: 10px;

    h1{
        font-size: 1.5vw;
        color:#6e2e6a;
    }

    h2{
        padding-left: 5px;
        color: #202671;
        font-size: 1.3vw;
        font-weight: 500;
    }
}

