.adminPage{
    width: 100%;
    padding:1vw;
     
    &_up{
        width: 100%;
    }
    &_table{
        width: 100%;
        margin-top: 1vw;
    }

    &_pagination{
        width: 100%;
    }
}
