.sidebar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 5vw;
  width: 15%;

  &_left {
    width: 100%;
    height: calc(100vh - 60px);
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2vw;
    padding-top: 2vh;

    .link1 {
      padding-block: 10px;
      border-radius: 5px;
      width: 100%;
      text-align: center;

      &:hover {
        background-color: #6e2e6a;
        transition: color 0.5s ease, background-color 0.5s ease;
        color: white;
      }
    }

    a {
      width: 100%;
      display: block;
      text-decoration: none;
      color: #6e2e6a;
      font-weight: 700;

      &:hover {
        // background-color: #202671;
        color: white;
        transition: color 0.3s ease, background-color 0.3s ease;
      }
    }
  }
}
