.sidebar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 5vw;
  width: 15%;

  &_left {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1vw;
    padding-top: 2vh;

    .link1 {
      padding-block: 10px;
      border-radius: 5px;
      width: 100%;
      text-align: center;
      font-weight: 700;
      color: #6e2e6a;
      text-decoration: none;

      &:hover {
        background-color: #6e2e6a;
        color: white;

        a {
          color: white;
        }
      }
    }

    a {
      width: 100%;
      display: block;
      color: inherit; // Inherit color from .link1
      text-decoration: none;
    }
  }
}
